h1 {
    text-align-last: center;
}

.Plans{
    display: flex;
    justify-content: space-around;
}

.Trial, .Monthly, .Yearly {
    text-align: center;
    margin: 40px;
    padding: 30px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 4px 5px 3px black;
}

.Trial {
    background-color: rgb(75, 231, 75);
    border: 2px solid darkgreen;
}

.Monthly {
    background-color: skyblue;
    border: 2px solid blue;
}

.Yearly {
    background-color: orange;
    border: 2px solid darkorange;
}
